#spacer { height: 1012px; background-color: #eaeaea; }
#gap { height: 784px; background-color: #eaeaea; }
p { width: 600px; margin: 0; font-size: 20px; line-height: 32px; background-color: #f4f4f4; }
